body {
background: url(clouds.jpg);
font-family:Contemporary;
}
@font-face {
font-family: "Contemporary";
src: url(Contemporary-Regular.ttf) format("truetype");
}
.tscplayer_inline {
	position:static;
	margin: 30px;
	width: 852px;
	height: 480px;
	z-index:auto;
}

