body {
background: url(clouds.jpg);
font-family:Contemporary;
}
@font-face {
font-family: "Contemporary";
src: url(Contemporary-Regular.ttf) format("truetype");
}
.player {
	width: 70%;
}
.bottombar {
    background: rgb(164,164,164);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
