body {
background: url(clouds.jpg);
font-family:Contemporary;
}
@font-face {
font-family: "Contemporary";
src: url(Contemporary-Regular.ttf) format("truetype");
}
.navigator {
background-color:black;
float:left;
border-radius:12px
}
.homeattention {
color:red;
}
.carousel {
border-radius:12px;
width:35%;
height:22.5%;
}se {
background:white;
border-radius:12px;
font-family:monospace;
}

