body {
background: url(clouds.jpg);
font-family:Contemporary;
}
@font-face {
font-family: "Contemporary";
src: url(Contemporary-Regular.ttf) format("truetype");
}
.roundborder {
    border-radius:12px;
}
.homeattention {
color:red;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.bsdlicense {
background:white;
border-radius:12px;
font-family:monospace;
}
.bottombar {
    background: rgb(164,164,164);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}